{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'abogado/lawyer_login.css'%}">
    </head>
    <title>Log In</title>
    <body>
        <div class="landing-page">
            <div class="SideCoverManggagawa">
                <img class="BlueBg" src="{% static 'assets/blue_bg.png'%}";/>
                <div class="DarkTexture"></div>
                <div class="Logo">
                    <img src="{% static 'assets/Logo.png'%}"/>
                </div>
            </div>
            
            <form method="POST">
                {% csrf_token %}
                <h1>Log in</h1>
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    {{ form.user_type }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    <div class="input-group">
                        {{ form.password }}
                    </div>
                    {{ form.password1.errors }}
                </div>
                <button type="submit">
                    Log in
                </button>

                <div class="signup">
                    <h2>Don't have an account?</h2>
                    <a href="{%url 'AbogadoSignUp'%}">Sign Up</a>
                </div>
            </form>
        </div>
    </body>
</html>
