<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/action_page.php">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="bday">Birthday:</label><br>
  <input type="text" id="bday" name="bday" ><br><br>
  <label for="add">Address:</label><br>
  <input type="text" id="add" name="add" ><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>

