<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/action_page.php">
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass" ><br><br>
  <label for="cpass">Confirm Password:</label><br>
  <input type="text" id="cpass" name="cpass" ><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>

