{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LCP - Preliminary Title</title>

    <link rel="stylesheet" href="{% static 'output.css'%}">

    <style>
        .bg-photo{
            background-image: url("{% static 'assets/bnw.png' %}");
            background-size: cover;
            background-position: center;
        }
        .logo-photo{
            background-image: url("{% static 'assets/logo(1).png' %}");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body class="flex h-screen w-screen bg-photo flex-col">

    <div class="flex bg-black bg-opacity-80 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center mx-auto py-4 px-4">
            <div class="h-10 w-20 logo-photo"></div>
            <h1 class="flex justify-center text-white"><b>LABOR CODE OF THE PHILIPPINES</b></h1>
        </div>
    </div>
      
    <div class="flex w-full bg-white bg-opacity-70">
        <div class="flex w-full  justify-items-center items-center flex-col">
            <h1> <b>PRELIMINARY TITLE</b></h1>
        </div>
    </div>
</body>
</html>

